a.card-movie-item {
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

a.card-movie-item img {
    width: 100%;
}

.swiper-slide {
    height: 185px !important;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 69%) 0px 26px 30px -10px, rgb(0 0 0 / 73%) 0px 16px 10px -10px;
    overflow: hidden;
    transition: all 0.4s ease;
}

a.card-movie-item img {
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 7px #686868;
    width: 100%;
}

.container-section-list {
    margin-top: 20px;
    float: left;
    width: 100%;
}

.container-section-list h1 {
    font-size: 20px;
    color: #f9f9f9;
    margin-bottom: 10px;
    font-family: 'metropolisregular';
    margin-top: 0px;
}


.swiper-slide.swiper-slide-active {opacity: 1;}

.swiper-slide.swiper-slide-active + .swiper-slide, 
.swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide, 
.swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide,
.swiper-slide.swiper-slide-active + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
    opacity: 1;
}
.swiper-slide:hover {
    transform: scale(1.05);
}
.swiper-slide:hover a.card-movie-item:after {
    border: 4px solid rgb(255 255 255);
}
.swiper-slide a.card-movie-item:after {
    content: "";
    border-radius: 4px;
    border: 4px solid rgba(255, 255, 255, 0);
    inset: 0px;
    content: "";
    position: absolute;
    transition: border 300ms ease-out 0s;
}